<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">

	<!-- wp:post-title {"level":1} /-->

	<!-- wp:post-featured-image {"style":{"border":{"radius":"8px"}}} /-->

	<!-- wp:shortcode -->[property_quick_facts]<!-- /wp:shortcode -->

	<!-- wp:post-content /-->

	<!-- wp:shortcode -->[property_address]<!-- /wp:shortcode -->

	<!-- wp:shortcode -->[property_map]<!-- /wp:shortcode -->

	<!-- wp:shortcode -->[property_stay_details]<!-- /wp:shortcode -->

	<!-- wp:shortcode -->[property_type_region]<!-- /wp:shortcode -->

	<!-- wp:shortcode -->[property_amenities]<!-- /wp:shortcode -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
